<div class="container bg-dark py-5">
    <h1 class="display-5 fw-bold" style="color: white;">Welcome to Quiz App</h1>
    <p class="col-md-8 fs-4" style="color: white;">this quiz will contain total 10 questions</p>
    <h4 style="color: white;">Rules:</h4>
    <ol>
        <li style="color: white;">correct question gives you 10 points</li>
        <li style="color: white;">correct question gives you 10 points</li>
        <li style="color: white;">correct question gives you 10 points</li>
        <li style="color: white;">correct question gives you 10 points</li>

    </ol>
    <h1 style="font-family: cursive; text-align:center;color: white">all the best</h1>
    <div class="name col-md-4 my-3" style="color: white;">
        <label for="">Enter Your Name:</label>
        <input #name type="text " class="form-control">
    </div>
    <button class="btn btn-primary btn-lg" routerLink="/question" (click)= "startQuiz()">start the quiz</button>
</div>